@import "shared/all";

.categories-container {
  padding: 20px 20px 5px 20px;

  .btn {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@include respond-below(sm){ 
  .categories-container {
    display: none !important;
  }
}