@import "shared/all";

.categories-container {
  padding: 20px;
  .category--title {
    color: $green;
    padding-bottom: 10px;
  }
  .category {
    color: black;
    padding: 10px 0;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@include respond-below(sm){ 
  .categories-container {
    display: none !important;
  }
}