@import "shared/all";

.blog-container {
  padding: 8% 20%;
  margin-right: 0 !important;
}

.posts-container {

  .pagination-container {
    float: left;

    .pagination {
      padding: 15px 15px 0 0;
      justify-content: center;
    }
  }
}

@include respond-below(sm){ 
  .posts-container {
    margin: 16% 0;
  }
  .blog-container {
    padding: 15% 0% !important;
  }
}