@import "shared/all";

.blog-container {
  padding: 8% 5%;
  margin-right: 0 !important;
}

.posts-container {
  .post {
    cursor: pointer;
    padding: 30px;
    .post-title {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .post-info {
      color: #888787;
      font-size: 0.8em;
    }

    .post-tags {
      padding: 25px 0 0px;

      span {
        @extend %green-tag;
        white-space: nowrap;
        line-height: 40px;
      }
    }
  }

  .pagination-container {
    float: left;

    .pagination {
      padding: 15px 15px 0 0;
      justify-content: center;
    }
  }
}


@include respond-below(sm){ 
  .posts-container {
    margin: 16% 0;
  }
  .blog-container {
    padding: 0 !important;
  }
}