* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  letter-spacing: normal;
  line-height: 28px;
}

body {
  background-color: #f9f9f9;
  color: $text_color;
}

a {
  text-decoration: none;
  color: #008cba;
}

@include respond-below(sm){ 
  line-height: 8px;
}