@import "shared/all";

.post-container {
  margin: 8% 15%;
  padding: 100px;
  
  &--title {
    margin-bottom: 50px;
  }

  &--links {
    padding: 50px 0 0 0;

    a:hover {
      text-decoration: none;
    }

    span {
      font-size: 20px;
      font-size: 34px;
      top: 5px;
      position: relative;
    }

    &__next {
      float: right;
    }

    &__previous {
      float: left;
    }
  }

  .fb-comments {
    margin-top: 75px;
  }
}

@include respond-below(sm) {
  .post-container {
    margin: 0;
    padding: 100px 25px;
    &--title {
      font-size: 20px;
    }
  }
}
