@import "shared/all";

.app-list{
  padding-top: $nav_bar_height;
  .app {
    cursor: pointer;
    margin: 20px;
    border-width: 0.5px;
    padding: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 6px rgba(0,0,0,0.05);
    border-radius: 10px;
    
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.05);
    }

    .card-img-container {
      display: flex;
      border-radius: 10px 10px 0 0;
      justify-content: center;
      padding: 50px;
      background-color: #575757;

      .card-img-top {
        width: 120%;
        height: 120%;
      }
    }
    .card-header {
      background-color: var(--blue);
      color: white;
      border-bottom: 0;
    }

    .card-body {
      &--links{
        a {
          padding: 0 10px;
          float: right;
        }
      }
    }
    a {
      color: var(--blue);
    }
  }
}

@include respond-below(sm){ 
  .app-list {
    .app {
      .card-img-container{
        .card-img-top {
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}