@import "shared/constants";

.pagination-container {
  .pagination {

    .page-item {
  
      a {
        color: $green;
      }
      
      &.active {
  
        a {
          background-color: $green;
          color: white;
          border-color: $green;
        }
      }
    }
  }
}