@import "shared/all";

.bio {
  padding-top: 20%;
  min-height: 92vh;
  color: $bg;
  
  #name {
    font-size: 5em;
    text-align: center;
    margin-bottom: 30px;
    color: var(--purple);
  }

  .line {
    border-top: 2px solid $border_color;
    width: 35%;
    margin-left: 33%;
  }

  .interests {
    padding: 20px;
    font-size: 1.6em;
    text-align: center;
    color: black;
  }
}

@include respond-below(sm){ 
  .bio {
    padding-top: 60%;
    font-size: 13px;

    #name {
      font-size: 3em;
    }
  }
}